# Visual Studio
.vs/
x64/
Debug/
Release/

# Build files
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate

# Visual Studio user files
*.user
*.suo
*.vcxproj.user

# Resource editor temporary files
*.aps
RCA*

# Other temporary files
*.tmp

# Visual Studio Resource Editor temporary files
*.aps
[Rr][Cc][A-Za-z][0-9]*